# Datatypes and Structures Questions ---

## Q1)What are data structures, and why are they important?

#### ANS- Data structures are the way of organizing and storing data so that it can be accessed and manipulated efficiently. They are important as it makes code easier to read ,understand and maintain.They even allow for faster and more efficient data access,insertion,deletion and searching. It plays a crucial role in understanding and solving complex problems in computer science sector.

## Q2)Explain the difference between mutable and immutable data types with examples.

#### ANS- Mutable data types >>> Data types whose values can be changed after being created.Examples:- Lists,Dictionaries,Sets.

In [7]:
#Example-1
list1=["Giraffe", "tress",27.33,(9+3j),True]
list1

['Giraffe', 'tress', 27.33, (9+3j), True]

In [8]:
list1[3]="Elephant"
list1

['Giraffe', 'tress', 27.33, 'Elephant', True]

In [9]:
#Example-2
d = {"name":"Suhani", "roll no.":24155537, "section":"A22"}
d

{'name': 'Suhani', 'roll no.': 24155537, 'section': 'A22'}

In [10]:
d['section'] = "B12"
d

{'name': 'Suhani', 'roll no.': 24155537, 'section': 'B12'}

#### Immutable data types >>> Data types whose values cannot be changed after once being created.Examples:-Strings,Tuples.

In [14]:
#Example-3
s="Python"
s[3]

'h'

In [13]:
s[2]="l"

TypeError: 'str' object does not support item assignment

In [19]:
#Example-4
t = ("Python",56,"yash", 23.56,False)
t

('Python', 56, 'yash', 23.56, False)

In [17]:
t[2]

'yash'

In [18]:
t[1] = 100

TypeError: 'tuple' object does not support item assignment

## Q3)What are the main differences between lists and tuples in Python?

#### ANS- The main key differences between lists and tuples in Python is Lists are mutable objects whereas Tuples are immutable objects.Lists are created with "[]" whereas Tuples are created with "()".Examples:-

In [28]:
#Ex-1
type([])

list

In [29]:
t = ()
type(t)

tuple

In [30]:
#Ex-2
shopping_bag = ["skirt", "top","lipstick"]
shopping_bag

['skirt', 'top', 'lipstick']

In [31]:
shopping_bag[0]="jeans"
shopping_bag

['jeans', 'top', 'lipstick']

In [32]:
purse = ("pen", "notebook","pencil")
purse

('pen', 'notebook', 'pencil')

In [33]:
purse[0]="eraser"

TypeError: 'tuple' object does not support item assignment

## Q4)Describe how dictionaries store data.

#### ANS- Dictionaries stores data as key value pair.Keys are unique and immutable objects.The values stores in dictionaries can be access using keys.Example:-

In [36]:
#Ex:
d = {"Name":"Sanjib", "Room no.":"B514", "contact no.": 5416853206}
d

{'Name': 'Sanjib', 'Room no.': 'B514', 'contact no.': 5416853206}

In [37]:
d['Name']

'Sanjib'

In [38]:
d['Room no.']

'B514'

In [40]:
d['Feedback']="Good"          #insert new key-value pair into already existing dictionary.

In [41]:
d

{'Name': 'Sanjib',
 'Room no.': 'B514',
 'contact no.': 5416853206,
 'Feedback': 'Good'}

## Q5)Why might you use a set instead of a list in Python?

#### ANS- We might use a set instead of a list in Python as sets are unordered and unique collection of elements.It doesn't alllow duplicate elements. Therefore it doesn't have any indexing .Sets also have set operations such as - Union, Intersection, difference, symmetric difference.

In [44]:
#Ex-1
s = {1, 1, 2, 2, 3, 4}
s

{1, 2, 3, 4}

In [45]:
s[0]

TypeError: 'set' object is not subscriptable

In [46]:
#Ex-2
#set operations
s1 = {"pen", "pencil", "copy"}
s2 = {"copy", "graph", "result"}

In [47]:
#union>> combine all the elements
s1 | s2

{'copy', 'graph', 'pen', 'pencil', 'result'}

In [48]:
#intersection >> common elements
s1 & s2

{'copy'}

In [49]:
#difference
s1-s2

{'pen', 'pencil'}

In [50]:
#symmetric difference
s1 ^ s2

{'graph', 'pen', 'pencil', 'result'}

## Q6)What is a string in Python, and how it is different from a list?

#### ANS- String is a sequence of character to represent and manipulate textural data in Python.

#### String is a sequence of character between single or double quotes whereas list is a sequence of items and here each items could be any data type.Strings are immutable whereas Lists are mutable.These are few ways in which string is different from a list.

In [51]:
#Ex:
str1="SKILLS"
str1

'SKILLS'

In [52]:
type(str1)

str

In [53]:
str1[2]="a"  #Strings are immutable

TypeError: 'str' object does not support item assignment

In [54]:
lis = ["Laptop", "Python", 19, 76.2, True]
type(lis)

list

In [55]:
lis[0] = "code"   #Lists are mutable 
lis

['code', 'Python', 19, 76.2, True]

## Q7)How do tuples ensure data integrity in Python?

#### ANS- Tuples are immutable which ensures that data remains consistent throughout the program. This is the main reason that ensure data integrity in Python .This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.

In [58]:
#Ex 1:-
d = {(1, 2, 3): "abc"} 
d

{(1, 2, 3): 'abc'}

In [59]:
#Ex 2:-
s= {1, 2, 3, 4, 5, (4, 5, 6)} 
s

{(4, 5, 6), 1, 2, 3, 4, 5}

## Q8)What is a hash table, and how does it relate to dictionaries in Python?

#### ANS- A hash table is a data structure that stores data by using key-value pairs which enables fast data accessing. It is related to dictionaries as dictionary is a data structure that stores data as key value pair and in this by using keys we can access values within the dictionary.

In [57]:
#Ex:-
d = {(1, 2, 3): "abc", 1.2: "float" } 
d[1.2]

'float'

## Q9)Can lists contain different data types in Python?

#### ANS- Yes,lists can contain different data types in Python. Here is a examples:-

In [60]:
store = ["Milk", "Bread", 4, 27.59, True, 8+2j]
store

['Milk', 'Bread', 4, 27.59, True, (8+2j)]

In [61]:
type(store)   #type

list

## Q10)Explain why strings are immutable in Python?

#### ANS- String is a sequence of character and characters are represents using numerical values. Each character is assigned a unique value. so, therefore strings are immutable in Python.Example:-

In [62]:
str1="Apple"
str1

'Apple'

In [63]:
str1[2]="a"

TypeError: 'str' object does not support item assignment

## Q11)What advantages do dictionaries offer over lists for certain tasks?

#### ANS- The advantages do dictionaries offer over lists for certain taks are:-
###### Fast Retrieval: enables significantly faster retrieval of values compared to lists where you need to iterate through elements.
###### Data Mapping: ideal for representing relationships between data elements by using key-value pairs. 
###### Key-Value pairs: it stores data as key-value pairs,which makes it flexible and faster in performing certain tasks.

## Q12)Describe a scenario where using a tuple would be preferable over a list.

In [65]:
ANS- #tuples as key of a dictionary, (#as tuples are immutable)
d = {(1, 2, 3): "abc"}
d

{(1, 2, 3): 'abc'}

In [66]:
d = {[1, 2, 3]:"Ajay"}
d

TypeError: unhashable type: 'list'

## Q13)How do sets handle duplicates values in Python?

In [69]:
#### ANS- Sets handle duplicates values in Python by removing the duplicates in the set.like following example:-

In [68]:
s = {1, 2, 1, 2, 2, "Ajay", "Ajay", "Ajay", "ajay", "ajay"}   #this remove the remove the duplicate 1,2 ,"Ajay" and "ajay".
s

{1, 2, 'Ajay', 'ajay'}

## Q14)How does the "in" keyword work differently for lists and dictionaries?

In [70]:
# "in" keyword works as membership
lis1 = ["Apple", "Orange", 4, 27.6, True, 4+5j]
lis1

['Apple', 'Orange', 4, 27.6, True, (4+5j)]

In [71]:
"Apple" in lis1

True

In [72]:
# "in" keyword works as using in dictionary comprehension method
students = ["Arun", "Ajay", "Bijay"]
marks = [80, 95, 100]
{student:mark for student, mark in zip(students, marks)}

{'Arun': 80, 'Ajay': 95, 'Bijay': 100}

## Q15)Can you modify the elements of a tuple?Explain why or why not.

In [ ]:
#### ANS- Yes, you cannot modify the elements of a tuple.

In [73]:
t = ("skills", "Apple", 4, 72.3, True, 4+8j)

In [74]:
type(t)

tuple

In [75]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

## Q16)What is a nested dictionary,and give an exmaple of its use case?

In [ ]:
#### ANS- A nested dictionary is a dictionary within a dictionary.Example:

In [78]:
employee_records = {
    'E001': {'name': 'Ravi', 'department': 'Engineering', 'salary': 75000},
    'E002': {'name': 'Rakesh', 'department': 'Marketing', 'salary': 65000},
    'E003': {'name': 'Sara', 'department': 'Finance', 'salary': 80000}
}

In [77]:
type(employee_records)

dict

## Q17)Describe the time complexity of accessing elements in a dictionary.

#### ANS-

In [81]:
# earlier dictionary comprehension

#zip function
students = ["Sara", "Gita", "Tina"]
marks = [80, 95, 100]

for i in zip(students, marks):
    print(i)

('Sara', 80)
('Gita', 95)
('Tina', 100)

In [82]:
#recent updated   using dictionary comprehension method
students = ["Sara", "Gita", "Tina"]
marks = [80, 95, 100]
{student:mark for student, mark in zip(students, marks)}

{'Sara': 80, 'Gita': 95, 'Tina': 100}

## Q18)In what situations are lists preferred over dictionaries?

#### ANS- For situations like for ordered collections and sequence operations,such as mainitaining a stack or queue. In these type of cases lists preferred over dictionaries.

In [85]:
#stack
#LIFO- last in first out
stack_of_tiles = []
stack_of_tiles.append("tile1")
stack_of_tiles.append("tile2")
stack_of_tiles.append("tile3")
stack_of_tiles.append("tile4")

In [86]:
stack_of_tiles

['tile1', 'tile2', 'tile3', 'tile4']

In [89]:
stack_of_tiles.pop()

'tile4'

In [94]:
#Queue
#FIFO- first in first out
from collections import deque   
check_out = deque()
check_out.append("cus1")
check_out.append("cus2")
check_out.append("cus3")
check_out.append("cus4")
check_out.append("cus5")

In [95]:
check_out

deque(['cus1', 'cus2', 'cus3', 'cus4', 'cus5'])

In [96]:
while check_out:
    customer = check_out.popleft()
    print("serving", customer)

serving cus1
serving cus2
serving cus3
serving cus4
serving cus5

## Q19)Why are dictionaries considered unordered,and how does that affect data retrieval?

#### ANS- Dictionaries are considered unordered as dictionary is a data structure that stores data as key value pair.Before Python 3.7, dictionaries did not guarantee retain the order of insertion.Even if you insert keys in a specific order ,iterating over them  might not return them in that order.This is because it follows hash tables structure,where items are stored based on their keys and not their insertion order.

In [97]:
d = {'a': "ram",'b': "table" ,'c': "cat"}
d

{'a': 'ram', 'b': 'table', 'c': 'cat'}

In [98]:
d['b']

'table'

In [ ]:
### but before 3.7 .for key in d: might give keys in any order like'c','a','b'.

## Q20)Explain the difference between a list and a dictionary in terms of data retrieval.

#### ANS- The difference between a list and a dictionary in terms of data retrieval are:- List are ordered collection of items where as dictionary are ordered collection of key-value pair.Elements from list is accessed using their index,while the elements of dictionary is accessed using keys. List is created with "[]",where as dictionary is created with "{}".Items in the list are mutable whereas in dictionaries values are mutable but not the keys,as keys are unique.

##  PRACTIAL QUESTIONS

### Q1)Write a code to create a string with your name and print it.

In [134]:
s="My name is Himadri Tanaya Sahu"
s

'My name is Himadri Tanaya Sahu'

In [135]:
type(s)

str

### Q2)Write a code to find the length of the string "Hello World".

In [100]:
s1="Hello World"
len(s1)

11

### Q3)Write a code to slice the first 3 characters from the string "Python Programming".

In [101]:
s2="Python Programming"
s2[0:3]

'Pyt'

### Q4)Write a code to convert the string "hello" to uppercase.

In [104]:
s3="hello"
s3.upper()

'HELLO'

### Q5)Write a code to replace the word "apple" with "orange" in the string "I like apple".

s4="I like apple"
s4.replace("apple","orange")

### Q6)Write a code to create a list with numbers 1 to 5 and print it.

In [132]:
l=[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

In [133]:
type(l)

list

### Q7)Write a code to append the number 10 to the list [1,2,3,4].

In [110]:
L2=[1,2,3,4]
L2.append(10)

In [111]:
L2

[1, 2, 3, 4, 10]

### Q8)Write a code to remove the number 3 from the list [1,2,3,4,5].

In [112]:
l3=[1,2,3,4,5]
l3.remove(3)

In [113]:
l3

[1, 2, 4, 5]

### Q9)Write a code to access the second element in the list ['a','b','c','d'].

In [114]:
l4=['a','b','c','d']
l4[1]

'b'

### Q10)Write a code to reverse the list [10,20,30,40,50].

In [115]:
l5=[10,20,30,40,50]
l5[::-1]

[50, 40, 30, 20, 10]

### Q11)Write a code to create a tuple with the element 100,200,300 and print it.

In [130]:
t=(100,200,300)
t

(100, 200, 300)

In [131]:
type(t)

tuple

### Q12)Write a code to access the second-to-last element of the tuple('red','green','blue','yellow').

In [122]:
t1=('red','green','blue','yellow')
t1[-2]

'blue'

### Q13)Write a code to find the minimum number in the tuple (10,20,5,15).

In [126]:
t2= (10,20,5,15)
min(t2)

5

### Q14)Write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit').

In [127]:
t3=('dog','cat','rabbit')
t3.index("cat")

1

### Q15)Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [136]:
t5=("apple","mango","banana")
"kiwi" in t5

False

### Q16)Write a code to create a set with the elements 'a','b','c' and print it.

In [128]:
s={'a','b','c'}
s

{'a', 'b', 'c'}

In [129]:
type(s)

set

### Q17)Write a code to clear all elements from the set {1,2,3,4,5}.

In [137]:
s6={1,2,3,4,5}
s6.clear()

In [138]:
s6

set()

### Q18)Write a code to remove the element 4 from the set {1,2,3,4}.

In [139]:
s7={1,2,3,4}
s7.remove(4)

In [140]:
s7

{1, 2, 3}

### Q19)Write a code to find the union of two sets {1,2,3} and {2,3,4}

In [142]:
s8={1,2,3}

In [143]:
s9={2,3,4}

In [144]:
s8|s9

{1, 2, 3, 4}

### Q20)Write a code to find the intersection of two sets {1,2,3} and {2,3,4}.

In [145]:
s1={1,2,3}

In [146]:
s2={2,3,4}

In [147]:
s1 & s2

{2, 3}

### Q21)Write a code to create a dictionary with the keys "name","age" and "city", and print it.

In [148]:
d={"name":"Rani","age":20,"city": "BBSR"}
d

{'name': 'Rani', 'age': 20, 'city': 'BBSR'}

In [149]:
d.keys()

dict_keys(['name', 'age', 'city'])

### Q22)Write a code to add a new key-value pair 'country':'USA' to the dictionary {'name':'Bob','age':22,'city':'New York'}.

In [151]:
d1={'name':'Bob','age':22,'city':'New York'}
d1

{'name': 'Bob', 'age': 22, 'city': 'New York'}

In [152]:
d1['country']="USA"
d1

{'name': 'Bob', 'age': 22, 'city': 'New York', 'country': 'USA'}

### Q23)Write a code to access the value associated with the key "name" in the dictionary {'name':'Alice','age':30}.

In [154]:
d3={'name':'Alice','age':30}

In [155]:
d3["name"]

'Alice'

### Q24)Write a code to remove the key "age" from the dictionary {'name':'Bob','age':22,'city':'New York'}.

In [161]:
d4={'name':'Bob','age':22,'city':'New York'}

In [162]:
d4.pop("age")

22

In [163]:
d4

{'name': 'Bob', 'city': 'New York'}

### Q25)Write a code to check if the key "city" exists in the dictionary {'name':'Alice','city':'Pairs'}

In [164]:
d4={'name':'Alice','city':'Pairs'}
"city" in d4

True

### Q26)Write a code to create a list,a tuple,and a dictionary,and print them all.

In [168]:
l=["David",40,"spain"]
t=("David",40,"spain")
d={'name':'Alice','city':'Pairs'}
print(l,t,d)

['David', 40, 'spain'] ('David', 40, 'spain') {'name': 'Alice', 'city': 'Pairs'}

### Q27)Write a code to create a list of 5 random numbers between 1 to 100,sort it in ascending order,and print the result.(replaced)

In [170]:
l=[45,13,26,78,95]
l=sorted(l)

In [171]:
l

[13, 26, 45, 78, 95]

### Q28)Write a code to create a list with strings and print the element at the third index.

In [172]:
lis=["house","egg","bottle","keys","mouse"]
lis[3]

'keys'

### Q29)Write a code to combine two dictionaries into one and print the result.

In [179]:
d1 = {'name': 'Jeet Singh', 'department': 'Designing', 'salary': 75000}
d2= {'address': 'RJ colony', 'contact no.': 6532489512}
d1.update(d2)

In [180]:
d1

{'name': 'Jeet Singh',
 'department': 'Designing',
 'salary': 75000,
 'address': 'RJ colony',
 'contact no.': 6532489512}

### Q30)Write a code to convert a list of strings into a set.

In [181]:
list1 = [ "Banana", "Mango", "Watermelon", "Apple"]  
s = set(list1)

In [182]:
s

{'Apple', 'Banana', 'Mango', 'Watermelon'}